# dependencies
node_modules
.pnp
.pnp.js

# builds
dist
dist-ssr
*.local

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# supabase cli local state
.supabase/

# java
backend/target